[galaxy]
server_list = pah

[galaxy_server.pah]
url = https://https://vm-10-1-230-222.ans.cee.ral3.lab.eng.rdu2.redhat.com/api/galaxy/content/published/
# To trigger the 403 error, leave the token commented out or comp
